# .github/workflows/schedule.yml

name: Daily Yongin Weather Report (HW1)

on:
  schedule:
    - cron: '0 23 * * *'
  workflow_dispatch:

jobs:
  run-weather-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4

      - name: Set up Python environment
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies for HW1
        run: pip install -r HW1/requirements.txt
      
      - name: Run the Python script for HW1
        run: |
          echo "${{ secrets.KAKAO_TOKENS_JSON }}" > HW1/kakao_tokens.json
          python HW1/main.py
        env:
          OPENWEATHERMAP_API_KEY: ${{ secrets.OWM_API_KEY }}
          KAKAO_REST_API_KEY: ${{ secrets.KAKAO_REST_API_KEY }}
          CI: true